AEM_HOST=https://www.test.juiceplus.com
API_HOST=https://api.test.juiceplus.com
GRAPHQL_ENDPOINT=https://api.test.juiceplus.com/graphql
PARTNER_LOYALTY_API_HOST=https://partner-loyalty.test.juiceplus.net

# Set to true to enable msw mocks - https://mswjs.io
MOCKS_ENABLED=true
